fastapi
uvicorn
loguru
piper-tts
coqui-tts
langdetect
# Creating an environment where deepspeed works is complex, for now it will be disabled by default.
#deepspeed
torch; --index-url https://download.pytorch.org/whl/rocm6.0; sys_platform == "linux"
torchaudio; --index-url https://download.pytorch.org/whl/rocm6.0; sys_platform == "linux"
